<section id="productDetails" class="team">
  <div class="container">
    <div class="productDetailsContainer">
      <div class="productDetailsHeader smallMarginTop profilePabeProductDet">
        <h2 class="subTitle">
          My Team
          <div class="downBorder"></div>
        </h2>
      </div>
    </div>

    <div class="productFetures profilePageContent">
      <div class="section group">
        <div class="col span_1_of_2">
          <div class="jobBoard">
            <div class="jobDescription">
              <p class="jobTitle">
                Github organization
                <img src="images/check.png" alt="check" class="checkImg" v-if="subscriber.subscriber.githubOrganization != null">
              </p>
              <input type="text" v-model="githubOrganization" placeholder="Org Name Textbox" id="companyName">
            </div>

            <div>
              <button class="saveBtn" @click="updateSubscriber" :disabled="status === 'saving'">Save</button>
            </div>

            <div class="jobDescription companyDescriptionCtrl" v-if="subscriber.subscriber.githubOrganization != null">
              <p class="jobTitle">
                github organization members
                <button class="btnSyncBtn" @click="updateGithubOrganizationMembers">
                  Sync <img src="images/sync.png" alt="sync">
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="col span_1_of_2">
        </div>

        <div class="fullGitOranization" v-if="subscriber.subscriber.githubOrganization != null">
          <div class="jobBoard">
            <div class="jobDescription ">
              <div class="gitHubOrganization">
                <div class="section group no-members" v-if="subscriber.subscriber.githubOrganizationMembers.length === 0">
                  No members found for GitHub organization "{{subscriber.subscriber.githubOrganization}}".
                  If your organization memberships are all private, please install the
                  <a href="https://github.com/apps/mongoose-pro">Mongoose Pro GitHub app</a>
                  on your organization.
                </div>
                <div class="section group" v-for="group in groupsOf(subscriber.subscriber.githubOrganizationMembers, 5)">
                  <div class="col span_1_of_5" v-for="member in group">
                    <div class="gitHubOrgSingle">
                      <img :src="member.avatar" class="gitUser">

                      <a :href="'https://github.com/' + member.login" class="userLink">{{member.login}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
