<section class="navbar">
  <div class="logo-wrap">
    <a href="/">
      <div class="logo">
        <img src="/images/mongoose-logo.png" />
      </div>
    </a>
  </div>
  <div class="links" v-if="auth.status === 'logged_out' || auth.status === 'not_a_subscriber'">
    <div><a href="https://github.com/sponsors/mongoosejs/sponsorships?tier_id=73469&preview=false" class="active">BUY NOW</a></div>
    <div><a href="/#keyFeatures">KEY FEATURES</a></div>
    <div><a href="/#productDetails">PRODUCT DETAILS</a></div>
    <div>
      <a :href="githubLoginURL" class="loginBtn">
        LOGIN
      </a>
    </div>
    <div v-if="auth.status === 'logged_in'">
      <a href="#" class="loginBtn">{{auth.user.githubUsername}}</a>
    </div>
  </div>
  <div class="links" v-if="auth.status === 'logged_in'">
    <div><a href="/profile" :class="active('profile')">Company Profile</a></div>
    <div><a href="/team" :class="active('team')">My Team</a></div>
    <div><a href="/job-board" :class="active('job-board')">Job Board</a></div>
    <div v-if="auth.status === 'logged_in'">
      <a href="javascript:void 0" @click="logout()" class="loginBtn">Logout</a>
    </div>
  </div>
  <div style="clear: both"></div>
</section>