<section id="productDetails" class="profile">
  <div class="container">
    <div class="productDetailsContainer">
      <div class="productDetailsHeader smallMarginTop profilePabeProductDet">
        <h2 class="subTitle">
          Company Profile
          <div class="downBorder"></div>
        </h2>
      </div>
    </div>
    <div class="productFetures profilePageContent">
      <div class="section group">
        <div class="col span_1_of_2">
            <div class="jobBoard">
              <div class="jobDescription">
                <p class="jobTitle">Company name</p>
                <input type="text" v-model="companyName" name="" placeholder="Pooka's Cafe" id="companyName">
              </div>
              <div class="jobDescription companyDescriptionCtrl">
                <p class="jobTitle">Description</p>
                <textarea v-model="description" name="" id="companyDescription" cols="30" rows="2"></textarea>
              </div>
              <div class="jobDescription companyDescriptionCtrl companyLogo">
                <p class="jobTitle">Logo</p>
                <input type="text" id="logoUrl" :class="error ? 'error' : ''" placeholder="Logo URL" v-model="logo" />
                <img :src="logoURL" class="companyLogoCtrl">
                <button class="saveBtn" @click="updateSubscriber" :disabled="status === 'saving'">Save</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>